@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200;400;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}

.border-l {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.shadow-soft {
  transition: all 0.3s ease;
}

.shadow-soft:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.my-nav img {
width: 90px;
height: 40px;   
}
/* #image-track > .image{
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}
#image-track{
  display: flex;
  gap: 4vmin;
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-100%, 50%);
} */

.border-soft {
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
.section-padding{
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
  .top .my-nav {
    z-index: 2;
    position: absolute;
    padding-left: 20px;
    font-size: 0.8rem;
  }
  .top .my-nav .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .top .my-nav a span:nth-child(2) {
    font-size: 0.7rem;
  }
  .top .my-nav form input {
    background: transparent;
    border: 0;
    outline: none;
    width: 24em;
    color: white;
    padding: 0.6em 0 0.6em 2.8em;
  }
  .top .my-nav form input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .top .my-nav form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .top .my-nav form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .top .my-nav form button {
    position: absolute;
  }
  .top .my-nav ul a {
    color: white;
  }
  .top .my-nav ul a:hover {
    color: #ff5300;
  }
  .top .my-nav .container button {
    border: none;
    background: transparent;
  }
  .top .scroll-active {
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding-left: 20px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  }
  .top .scroll-active .container {
    border-bottom: 0px;
  }
  .top .scroll-active span {
    color: #ff5300;
  }
  .top .scroll-active .colored {
    color: #f2212e;
  }
  .top .scroll-active form input {
    background: #e5e5e5;
    border-radius: 20px;
    color: black;
  }
  .top .scroll-active form input::-webkit-search-cancel-button {
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z' fill='black'/></svg>");
  }
  .top .scroll-active form input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .top .scroll-active form input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .top .scroll-active form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .top .scroll-active form button {
    color: black !important;
  }
  .top .scroll-active ul a {
    color: black;
  }
  .top .scroll-active .container button {
    border: none;
    background: transparent;
  }
  .top .scroll-active .container button svg path {
    fill: black;
  }
  .top .carousel .carousel-inner .carousel-item img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    filter: contrast(110%);
  }
  .top .carousel .carousel-inner .carousel-item .hero__text {
    position: absolute;
    top: 20em;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    padding: 0;
    color: #fff;
    text-align: center;
    align-items: center;
  }
  .top .carousel .carousel-inner .carousel-item .hero__text h1 {
    font-size: 3.8rem;
  }
  .top .carousel .carousel-inner .carousel-item .hero__text p {
    font-size: 1.7rem;
  }
  .top .carousel .carousel-inner .carousel-item .hero__text button {
    font-size: 1.4rem;
    border-radius: 10px;
    border: 1px solid #ff5300;
    background: #ff5300;
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
  }
  .top .carousel .carousel-inner .carousel-item .hero__text button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #ff5300;
    color: #ff5300;
  }
  .top .carousel .carousel-inner .carousel-item .background {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    padding: 0;
    color: #fff;
    text-align: center;
    align-items: center;
  }
@media only screen and (max-width: 1200px) {
  .fs-36px {
    font-size: 36px !important;
    font-weight: 200;
    line-height: 130%;
  } 
}/*# sourceMappingURL=main.css.map */